<% provide(:title, 'Pre-credentialing') %>

<fieldset class="round" >
	<legend>Pre-credentialing Main Menu</legend>
	<ul>
	  <li><%= link_to "New Hire Credentials Form", newhires_path %></li>
	  <li><%= link_to "New Hire List", newhires_list_path %></li>
	</ul>
</fieldset>