<% provide(:title, 'Pre-credentialing') %>
<h1>Pre-credentialing Main Menu</h1>
<ul>
  <li><%= link_to "New Hire Credentials Form", newhires_path %></li>
  <li><%= link_to "New Hire List", newhires_show_path %></li>
</ul>