<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	
    New Hire:<%= @newhire.fullname %><br/>
    Message:<%= @msg %><br/>
   
  </body>
</html>
