<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	
    <p><%= @bodymsg %></p>

    Instructor:<%= @newhire.fullname %><br/>
    
    Comments:<br><%= @msg %>
   
  </body>
</html>
