<div align="center">

<p class="notice">Document Successfully Uploaded</p>


<div class="error round">
	please close this window!
</div>

<input type="button" name="close" value="Close"  onclick="window.close();">

</div>