<fieldset class="round">
			<legend>New Hire Info:</legend>
			<p>
				You are adding information for
				<strong>
				<%= session[:newhire_info].first_name %> <%= session[:newhire_info].last_name %>
				</strong>
			</p>
 </fieldset>