<fieldset class="round">
	<h4>
		Notification Messages:
	</h4>

	
		<% if @newhire_messages_added.count == 0%>
			<table class="table">
				<tr>
					<td>
						<div class="alert alert-info">
							 <div align="center">No notification messages received</div>
						</div>
					</td>
				</tr>
			</table>
		<% else %>
			<table class="table">
				<th>From</th>
				<th>To</th>
				<th>Message</th>
				<th>Created on</th>
				
				<% @newhire_messages_added.each do |msg| %>
					<tr>
						<td><%= msg.from %></td>
						<td><%= msg.to %></td>
						<td><%= msg.body %></td>
						<td><%= msg.created_at.strftime('%m/%d/%Y %l:%M %P') %></td>
					</tr>
				<% end %>


			</table>
		<% end %>
	</table>
</fieldset>
			