Name

<%#= form_tag("/register", :method => "post") do %>	
<%#= form_for @reason, :url => '/precredentialing/savecomments' do |f| %>
<%= form_for @user, url: wizard_path do |f| %>
	<div class="info round">
		<p>
			<strong>Instructor Name:</strong> <%= text_field_tag 'instructor_name'%>
		</p>
	</div>

<% end %>