<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/stylesheets' %> 
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="container">
      <section class="round">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
